@model Hostel.Models.Decree

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">

        <h3>Удаление</h3>
        <h3>Вы уверены, что хотите удалить это?</h3>
    </div>

    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Номер комнаты")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rooms.RoomsId)
            </dd>

            <dt>
                @Html.DisplayName("Фамилия")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Students.Surname)
            </dd>

            <dt>
                @Html.DisplayName("Подписан")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateSigning)
            </dd>

            <dt>
                @Html.DisplayName("Въезд")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateArrival)
            </dd>

            <dt>
                @Html.DisplayName("Выезд")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateEviction)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color btn btn-default" style = "font-size: 2rem;">
                <input type="submit" value="Удалить" class="btn btn-default" style = "font-size: 2rem;"/> |
                @Html.ActionLink("Назад", "Index")
            </div>
        }
    </div>
</div>
