@model Hostel.Models.Decree

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">

        <h3 class="panel-title">Полная информация</h3>
    </div>
    <br />
    <dl class="dl-horizontal">
        <dt style="width:180px ">
            @Html.DisplayName("Номер комнаты")
        </dt>

        <dd style="margin-left: 200px"> 
            @Html.DisplayFor(model => model.Rooms.RoomsId)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd style="margin-left: 200px">
            @Html.DisplayFor(model => model.Students.Surname)
        </dd>

        <dt style="width:180px ">
            @Html.DisplayName("Дата подписания")
        </dt>

        <dd style="margin-left: 200px">
            @Html.DisplayFor(model => model.DateSigning)
        </dd>

        <dt style="width:180px ">
            @Html.DisplayName("Дата въезда")
        </dt>

        <dd style="margin-left: 200px">
            @Html.DisplayFor(model => model.DateArrival)
        </dd>

        <dt style="width:180px ">
            @Html.DisplayName("Дата выезда")
        </dt>

        <dd style="margin-left: 200px">
            @Html.DisplayFor(model => model.DateEviction)
        </dd>
        <dt>
            @Html.DisplayName("Корпус")
        </dt>

        <dd style="margin-left: 200px">
            @Html.DisplayFor(model => model.HousingId)
        </dd>

    </dl>

    <p class="btn btn-default" style = "font-size: 2rem;">
       
        @Html.ActionLink("Назад", "Index")
    </p>
</div>