@model Hostel.Models.Decree

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Decree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rooms.RoomsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rooms.RoomsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSigning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSigning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateArrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateArrival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEviction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEviction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Housing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HousingId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DecreeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
