@model Hostel.Models.PayStudent

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">

        <h3>Удаление</h3>
        <h3>Вы уверены, что хотите удалить это?</h3>
    </div>




    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Сумма")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServicePayment)
            </dd>

            <dt>
                @Html.DisplayName("Дата")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePayment)
            </dd>

            <dt>
                @Html.DisplayName("Фамилия")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayName("Имя")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Факультет")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Faculty)
            </dd>

            <dt>
                @Html.DisplayName("Корпус")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HousingId)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color btn btn-default" style = "font-size: 2rem;">
                <input type="submit" value="Удалить" class="btn btn-default" style = "font-size: 2rem;" /> |
                @Html.ActionLink("Назад", "Index")
            </div>
        }
    </div>
</div>
