@model Hostel.Models.PayStudent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PayStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServicePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicePayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HousingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HousingId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
