@model Hostel.Models.PayStudent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3 class="panel-title">Полная информация</h3>
        </div>
        <h4> Номер зачетки  №@Model.StudentsId</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Сумма")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServicePayment)
            </dd>

            <dt>
                @Html.DisplayName("Дата")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePayment)
            </dd>

            <dt>
                @Html.DisplayName("Фамилия")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayName("Имя")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Факультет")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Faculty)
            </dd>

            <dt>
                @Html.DisplayName("Корпус")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HousingId)
            </dd>

        </dl>
        <p class="btn btn-default" style = "font-size: 2rem;">
            @Html.ActionLink("Изменить", "Edit", new { id = Model.PayingId }) |
            @Html.ActionLink("Назад", "Index")
        </p>
    </div>

