@model Hostel.Models.Students

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3>Удаление</h3>
            <h3>Вы уверены, что хотите удалить это?</h3>
        </div>

 

        
        <div>
           
            <dl class="dl-horizontal">
                <dt style="width=180px">
                    @Html.DisplayName("Фамилия")
                </dt>

                <dd style="margin-left: 200px">
                    @Html.DisplayFor(model => model.Surname)
                </dd>

                <dt>
                    @Html.DisplayName("Имя")
                </dt>

                <dd style="margin-left: 200px">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayName("Факультет")
                </dt>

                <dd style="margin-left: 200px">
                    @Html.DisplayFor(model => model.Faculty)
                </dd>

                <dt style="width:180px ">
                    @Html.DisplayName("Дата поступления")
                </dt>

                <dd style="margin-left: 200px">
                    @Html.DisplayFor(model => model.ReceiptDate)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color btn btn-default" style = "font-size: 2rem;" >
                    <input type="submit" value="Удалить" class="btn btn-default" style = "font-size: 2rem;"/> |
                    @Html.ActionLink("Назад", "Index")
                </div>
            }
        </div>
        </div>