
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maxhotel - Home1</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="images//favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/Global/globimages/apple-touch-icon-114x114-precomposed.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/Global/globimages/apple-touch-icon-72x72-precomposed.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/Content/Global/globimages/apple-touch-icon-57x57-precomposed.png">

    <!-- Library - Google Font Familys -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/Global/globrevolution/css/settings.css">

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/Global/globrevolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Global/globrevolution/css/navigation.css">

    <!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="~/Content/Global/globlibraries/lib.css">

    <!-- Custom - Common CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Global/globcss/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Global/globcss/navigation-menu.css">

    <!-- Custom - Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Global/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <!--[if lt IE 9]>
        <script src="js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">

    <header class="header-section container-fluid no-padding">



        @RenderSection("LogoH",false)

        <nav class="navbar ow-navigation navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav nav-pills">
                <li >@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Студенты", "Index", "Students")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink(User.Identity.Name, "Edit", "Users")</li>
                <li>@Html.ActionLink("Выйти", "Logout", "Account") </li>
            </ul>

        </nav><!-- Navigation -->
        <br />
        @RenderSection("LogoL",false)
        </div>

        </div><!-- Menu Block /- -->

    </header><!-- Header /- -->
    <br />

    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
