@model IEnumerable<Hostel.Models.Paying>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Students.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePayment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Students.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicePayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePayment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PayingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PayingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PayingId })
        </td>
    </tr>
}

</table>
